AllShop/AllShopCore/src/main/resources/com/webapp/schemas/CatalogosCorporativosV1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.allshop.com/framework/core/ws/CatalogosCorporativos"
	xmlns:tnsec="http://www.allshop.com/framework/core/ws/common/EstatusComunes"
	targetNamespace="http://www.allshop.com/framework/core/ws/CatalogosCorporativos"
	elementFormDefault="qualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation xml:lang="es">TRANSACCION: AS02
			DESCRIPCION: Catalogos Corporativos
			PROGRAMADOR: Omar Santiago Romulo
			EMPRESA: allshop
			FECHA: 04-07-2017
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CatalogosCorporativosDetalles.xsd" />
	<xsd:import schemaLocation="EstatusComun.xsd"
		namespace="http://www.allshop.com/framework/core/ws/common/EstatusComunes" />

	<xsd:element name="CrearCatalogoRolIn">
		<xsd:annotation>
			<xsd:documentation>CrearCatalogoRolIn</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoRol" type="tns:CatalogoRol" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CrearCatalogoRolOut">
		<xsd:annotation>
			<xsd:documentation>CrearCatalogoRolOut</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="0" name="CatalogoRol" type="tns:CatalogoRol" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CrearCatalogoPagoIn">
		<xsd:annotation>
			<xsd:documentation>CrearCatalogoPagoIn</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoPago" type="tns:CatalogoPago" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CrearCatalogoPagoOut">
		<xsd:annotation>
			<xsd:documentation>CrearCatalogoPagoOut</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="0" name="CatalogoPago" type="tns:CatalogoPago" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CrearCatalogoDesarrolloIn">
		<xsd:annotation>
			<xsd:documentation>CrearCatalogoDesarrolloIn</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoDesarrollo" type="tns:CatalogoDesarrollo" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CrearCatalogoDesarrolloOut">
		<xsd:annotation>
			<xsd:documentation>CrearCatalogoDesarrolloOut</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="0" name="CatalogoDesarrollo" type="tns:CatalogoDesarrollo" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CrearCatalogoLenguajeIn">
		<xsd:annotation>
			<xsd:documentation>CrearCatalogoLenguajeIn</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoLenguaje" type="tns:CatalogoLenguaje" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CrearCatalogoLenguajeOut">
		<xsd:annotation>
			<xsd:documentation>CrearCatalogoLenguajeOut</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="CatalogoLenguaje" type="tns:CatalogoLenguaje" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CrearCatalogoMonedaIn">
		<xsd:annotation>
			<xsd:documentation>CrearCatalogoMonedaIn</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoMoneda" type="tns:CatalogoMoneda" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CrearCatalogoMonedaOut">
		<xsd:annotation>
			<xsd:documentation>CrearCatalogoMonedaOut</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="CatalogoMoneda" type="tns:CatalogoMoneda" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CrearCatalogoCategoriaIn">
		<xsd:annotation>
			<xsd:documentation>CrearCatalogoCategoriaIn</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoCategoria" type="tns:CatalogoCategoria" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CrearCatalogoCategoriaOut">
		<xsd:annotation>
			<xsd:documentation>CrearCatalogoCategoriaOut</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="CatalogoCategoria" type="tns:CatalogoCategoria" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CrearCatalogoCalificacionIn">
		<xsd:annotation>
			<xsd:documentation>CrearCatalogoCalificacionIn
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoCalificacion" type="tns:CatalogoCalificacion" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CrearCatalogoCalificacionOut">
		<xsd:annotation>
			<xsd:documentation>CrearCatalogoCalificacionOut
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="CatalogoCalificacion" type="tns:CatalogoCalificacion" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CrearCatalogoCuentaIn">
		<xsd:annotation>
			<xsd:documentation>CrearCatalogoCuentaIn</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoCuenta" type="tns:CatalogoCuenta" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CrearCatalogoCuentaOut">
		<xsd:annotation>
			<xsd:documentation>CrearCatalogoCuentaOut</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="CatalogoCuenta" type="tns:CatalogoCuenta" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarCatalogoRolIn">
		<xsd:annotation>
			<xsd:documentation>ConsultarCatalogoRolIn</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="IdRol">
				<xsd:annotation>
					<xsd:documentation>ID_ROL</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="5" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ConsultarCatalogoRolOut">
		<xsd:annotation>
			<xsd:documentation>ConsultarCatalogoRolOut</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoRol" type="tns:CatalogoRol" />
			<xsd:element maxOccurs="1" minOccurs="1" name="EstatusComun" type="tnsec:EstatusComun" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarCatalogoPagoIn">
		<xsd:annotation>
			<xsd:documentation>ConsultarCatalogoPagoIn</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="IdRol">
				<xsd:annotation>
					<xsd:documentation>ID_ROL</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="5" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ConsultarCatalogoPagoOut">
		<xsd:annotation>
			<xsd:documentation>ConsultarCatalogoPagoOut</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoPago"
				type="tns:CatalogoPago" />
			<xsd:element maxOccurs="1" minOccurs="1" name="EstatusComun"
				type="tnsec:EstatusComun" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarCatalogoDesarrolloIn">
		<xsd:annotation>
			<xsd:documentation>ConsultarCatalogoDesarrolloIn
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="IdRol">
				<xsd:annotation>
					<xsd:documentation>ID_ROL</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="5" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ConsultarCatalogoDesarrolloOut">
		<xsd:annotation>
			<xsd:documentation>ConsultarCatalogoDesarrolloOut
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoDesarrollo"
				type="tns:CatalogoDesarrollo" />
			<xsd:element maxOccurs="1" minOccurs="1" name="EstatusComun"
				type="tnsec:EstatusComun" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarCatalogoLenguajeIn">
		<xsd:annotation>
			<xsd:documentation>ConsultarCatalogoLenguajeIn
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="IdRol">
				<xsd:annotation>
					<xsd:documentation>ID_ROL</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="5" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ConsultarCatalogoLenguajeOut">
		<xsd:annotation>
			<xsd:documentation>ConsultarCatalogoLenguajeOut
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoLenguaje"
				type="tns:CatalogoLenguaje" />
			<xsd:element maxOccurs="1" minOccurs="1" name="EstatusComun"
				type="tnsec:EstatusComun" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarCatalogoMonedaIn">
		<xsd:annotation>
			<xsd:documentation>ConsultarCatalogoMonedaIn</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="IdRol">
				<xsd:annotation>
					<xsd:documentation>ID_ROL</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="5" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ConsultarCatalogoMonedaOut">
		<xsd:annotation>
			<xsd:documentation>ConsultarCatalogoMonedaOut</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoMoneda"
				type="tns:CatalogoMoneda" />
			<xsd:element maxOccurs="1" minOccurs="1" name="EstatusComun"
				type="tnsec:EstatusComun" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarCatalogoCategoriaIn">
		<xsd:annotation>
			<xsd:documentation>ConsultarCatalogoCategoriaIn
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="IdRol">
				<xsd:annotation>
					<xsd:documentation>ID_ROL</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="5" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ConsultarCatalogoCategoriaOut">
		<xsd:annotation>
			<xsd:documentation>ConsultarCatalogoCategoriaOut
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoCategoria"
				type="tns:CatalogoCategoria" />
			<xsd:element maxOccurs="1" minOccurs="1" name="EstatusComun"
				type="tnsec:EstatusComun" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarCatalogoCalificacionIn">
		<xsd:annotation>
			<xsd:documentation>ConsultarCatalogoCalificacionIn
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="IdRol">
				<xsd:annotation>
					<xsd:documentation>ID_ROL</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="5" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ConsultarCatalogoCalificacionOut">
		<xsd:annotation>
			<xsd:documentation>ConsultarCatalogoCalificacionOut
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1"
				name="CatalogoCalificacion" type="tns:CatalogoCalificacion" />
			<xsd:element maxOccurs="1" minOccurs="1" name="EstatusComun"
				type="tnsec:EstatusComun" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarCatalogoCuentaIn">
		<xsd:annotation>
			<xsd:documentation>ConsultarCatalogoCuentaIn</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="IdRol">
				<xsd:annotation>
					<xsd:documentation>ID_ROL</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="5" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ConsultarCatalogoCuentaOut">
		<xsd:annotation>
			<xsd:documentation>ConsultarCatalogoCuentaOut</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoCuenta"
				type="tns:CatalogoCuenta" />
			<xsd:element maxOccurs="1" minOccurs="1" name="EstatusComun"
				type="tnsec:EstatusComun" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ModificarCatalogoRolIn">
		<xsd:annotation>
			<xsd:documentation>ModificarCatalogoRolIn</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoRol" type="tns:CatalogoRol" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModificarCatalogoRolOut">
		<xsd:annotation>
			<xsd:documentation>ModificarCatalogoRolOut</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="CatalogoRol" type="tns:CatalogoRol" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ModificarCatalogoPagoIn">
		<xsd:annotation>
			<xsd:documentation>ModificarCatalogoPagoIn</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoPago" type="tns:CatalogoPago" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModificarCatalogoPagoOut">
		<xsd:annotation>
			<xsd:documentation>ModificarCatalogoPagoOut</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="CatalogoPago" type="tns:CatalogoPago" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ModificarCatalogoDesarrolloIn">
		<xsd:annotation>
			<xsd:documentation>ModificarCatalogoDesarrolloIn
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoDesarrollo" type="tns:CatalogoDesarrollo" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModificarCatalogoDesarrolloOut">
		<xsd:annotation>
			<xsd:documentation>ModificarCatalogoDesarrolloOut
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="CatalogoDesarrollo" type="tns:CatalogoDesarrollo" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ModificarCatalogoLenguajeIn">
		<xsd:annotation>
			<xsd:documentation>ModificarCatalogoLenguajeIn
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoLenguaje" type="tns:CatalogoLenguaje" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModificarCatalogoLenguajeOut">
		<xsd:annotation>
			<xsd:documentation>ModificarCatalogoLenguajeOut
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="CatalogoLenguaje" type="tns:CatalogoLenguaje" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ModificarCatalogoMonedaIn">
		<xsd:annotation>
			<xsd:documentation>ModificarCatalogoMonedaIn</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoMoneda" type="tns:CatalogoMoneda" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModificarCatalogoMonedaOut">
		<xsd:annotation>
			<xsd:documentation>ModificarCatalogoMonedaOut</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="CatalogoMoneda" type="tns:CatalogoMoneda" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ModificarCatalogoCategoriaIn">
		<xsd:annotation>
			<xsd:documentation>ModificarCatalogoCategoriaIn
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoCategoria" type="tns:CatalogoCategoria" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModificarCatalogoCategoriaOut">
		<xsd:annotation>
			<xsd:documentation>ModificarCatalogoCategoriaOut
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="CatalogoCategoria" type="tns:CatalogoCategoria" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ModificarCatalogoCalificacionIn">
		<xsd:annotation>
			<xsd:documentation>ModificarCatalogoCalificacionIn
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoCalificacion" type="tns:CatalogoCalificacion" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModificarCatalogoCalificacionOut">
		<xsd:annotation>
			<xsd:documentation>ModificarCatalogoCalificacionOut
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="CatalogoCalificacion" type="tns:CatalogoCalificacion" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ModificarCatalogoCuentaIn">
		<xsd:annotation>
			<xsd:documentation>ModificarCatalogoCuentaIn</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="CatalogoCuenta" type="tns:CatalogoCuenta" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModificarCatalogoCuentaOut">
		<xsd:annotation>
			<xsd:documentation>ModificarCatalogoCuentaOut</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="CatalogoCuenta" type="tns:CatalogoCuenta" />
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>