AllShop/AllShopCore/src/main/resources/com/webapp/schemas/HeaderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:tns="http://www.allshop.com/framework/core/ws/general/Headers"
elementFormDefault="unqualified" 
targetNamespace="http://www.allshop.com/framework/core/ws/general/Headers" version="1.4" >

  <xsd:annotation>
    <xsd:documentation xml:lang="es">-Schema que contiene la
			definicion de los elementos genericos Header/Request
			-Grupo Financiero
			Banorte
			-30/Enero/2014</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="HeaderReq" type="tns:HeaderRequestType"/>
  <xsd:complexType name="RequestType">
    <xsd:annotation>
      <xsd:documentation xml:lang="es">define los elementos genericos del elemento Request</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="IdServicio" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="es">Identificador de servicio que se quiere invocar,
						como servicio final. Se usara para consultar al
						WSRR</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="VersionServicio" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="es">Identifica la version del servicio a invocar</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="VersionEndpoint" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="es">Version Mensaje Negocio</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeaderRequestType">
    <xsd:annotation>
      <xsd:documentation xml:lang="es">-Elemento Base que
				define los elementos genericos del Header Request
				--ATRIBUTOS--
				-locale: Informacion de localizacion del peticionario
				-CodIdioma:
				Formato de codificacion de caracteres</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Despliegue" type="tns:DespliegueType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Acceso" type="tns:AccesoType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Consumidor" type="tns:ConsumidorType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DatosPeticion" type="tns:RequestType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DatosVariables" type="tns:DatosVariablesType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="locale" use="optional">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1"/>
          <xsd:maxLength value="8"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="codIdioma" use="optional">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1"/>
          <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="DespliegueType">
    <xsd:sequence>
      <xsd:element name="Dispositivo" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="es">Dispositivo desde el
						cual se ejecuta la peticion</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MarcaDispositivo" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="es">Marca dispositivo
						desde el cual se ejecuta la
						peticion</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Navegador" minOccurs="0" maxOccurs="1" type="tns:NavegadorType">
        <xsd:annotation>
          <xsd:documentation xml:lang="es">-Nombre del Browser
						utilizado para ejecutar la peticion
						---ATRIBUTOS--
						-version: Version
						del Navegador utilizado</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NavegadorType">
    <xsd:annotation>
      <xsd:documentation xml:lang="es">-Nombre del Browser
				utilizado para ejecutar la peticion
				---ATRIBUTOS--
				-version: Version
				del Navegador utilizado</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="version" use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="1"/>
              <xsd:maxLength value="20"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AccesoType">
    <xsd:sequence>
      <xsd:element name="IdUsuario" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="es">Identificador de Usuario</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ClaveAcceso" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Clave de acceso a usuario para envio de solicitudes incluidas  hacia servicios expuestos en Altamira.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IdUsuarioHost" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="es">Usuario generico o especifico que realiza la
						peticion(Usuario de Back-End)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="IdSesion" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="es">Identificador de sesion para correlar sesiones</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="256"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="IdOperacion" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="es">Identificador de operacion para correlar operaciones,  usuado por BBT
para hacer la relacion del mensaje de entrada con el de salida</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="36"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TokenOperacion" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Token de la operacion utilizado por interfaz
						Valida Transaccion</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="256"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsumidorType">
    <xsd:sequence>
      <xsd:element name="IpServer" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="es">IP/Nombre de la
						maquina que realiza la peticion</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="IpCliente" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="es">Direccion IP/Nombre
						de la maquina del terminal o
						usuario cliente</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TipoCanal" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="es">Identifidor del canal
						consumidor</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="IdAplicacion" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="es">Identificador
						aplicacion que ejecuta la
						operacion</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropiedadType">
    <xsd:sequence>
      <xsd:element name="Nombre" type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Identificador elemento</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Valor" type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Valor elemento</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatosVariablesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Propiedad" type="tns:PropiedadType">
        <xsd:annotation>
          <xsd:documentation>Lista de datos variable</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransaccionType">
    <xsd:sequence>
      <xsd:element name="Monto" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Monto  utilizado por interfaz Valida Transaccion</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="12"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>